#portfolio_t{
    width: 100%;
    background-attachment: fixed;
    padding: 50px 0px;
    .items{
        h1{
            font-family: 'Playfair Display', serif;
            font-size: 50px;
            color: rgb(0, 0, 0);  
        }
    }
}
#product_list{
    margin: 50px 0px;
    .buttons{
        display: flex;
        gap: 20px;
        button{
            border: none;
            background: none;
            font-size: 12px;
            font-family: 'Montserrat', sans-serif;
            &:hover{
                color: $fonts_color2;
            }
        }
    }
}
#all_products{
    .col-lg-4{
        .product{
            img{
                width: 415px;
                height: 590px;
                object-fit: cover;
                &:hover{
                    opacity: 0.8;
                }
            }
            p{
                font-size: 12px;
                font-family: 'Montserrat', sans-serif;
                padding: 10px;

            }
        }
    }
}